<div class = "body">
    <div>
        <h2>{{ name }}</h2>
        <h4>{{ description }}</h4>
        <br>
    </div>
    <form id="form" action="/addItem" method="POST">
        <table>
            <tr>
                <th colspan="2"><h3><strong>Add Item</strong></h3></th>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td><label for="quantity">Quantity</label></td>
                <td><input type="number" name="quantity" id="quantity"></td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><textarea type="text" name="description" id="description" rows="2"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">{{> messages}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button name = "submit" id = "submit" value = "Add">Add</button>
                </td>
            </tr>
        </table>
    </form>

    <div id="controls">
        <div>
            <h2 id="header">List of Items</h2>
        </div>
    </div>

    <div id="container">
        <div id="list">
            {{#if items}}
                {{#each items}}
                    <table class = "itemList">
                        <tr>
                            <td class = 'namecol'>{{ this.name }}</td>
                            <td class = 'itemcol'>{{ this.description }}</td>
                            <td class = 'quantitycol'>{{ this.quantity }}</td>
                            <td class = 'optionscol'>
                                <table>
                                    <tr>
                                        <td><form action='/edititem' method='POST'>
                                            <input type='hidden' name='itemId' id="itemId" value='{{ this._id }}'>
                                            <span><input type="image" src="img/edit.jpg" class="options" alt="Submit" ></span>
                                        </form></td>
                                    </tr>
                                    <tr>
                                        <td><form action='/deleteitem' method='POST'>
                                            <input type='hidden' name='itemId' id="itemId" value='{{ this._id }}'>
                                            <span><input type="image" src="img/delete.jpg" class="options" alt="Submit" ></span>
                                        </form></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                {{/each}}
            {{else}}
                <div id="message"><p>No items yet</p></div>
            {{/if}}
        </div>
    </div>
</div>