<br>
<div class="body">
    <form id="form" action="/myinventory" method="POST">
        <table>
            <tr>
                <td colspan="4" style="border-bottom: 2px solid #aaa"><strong>Add Inventory</strong>
                </td>
            </tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name"></td>
            <tr>
                <td><label for="file">Image</label></td>
                <td><input type="file" name="file" id="file" accept="image/*">
                </td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><input type="text" name="description" id="description"></td>
            </tr>
            <tr>
                <td colspan="4">{{> messages}}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button name = "submit" id = "submit" value = "Add">Add</button>
                </td>
            </tr>
        </table>
    </form>
    <div id="grid_container">
        {{#if inventories}}
            {{#each inventories}}
                <div class = "inventory">
                    <table>
                        <tr>
                            <th colspan = "2">
                                <form action = "/itemlist" method='POST'>
                                    <input type='hidden' name='inventoryId' id="inventoryId" value='{{ this._id }}'>
                                    <input type="image" src="img/default.jpg" class="inventory_image" alt="Submit" >
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <td class="inventory_name">{{ this.name }}</td>  
                        </tr>
                        <tr>
                            <td>
                                <span><form action='/share' method='POST'>
                                    <input type='hidden' name='inventoryId' id="inventoryId" value='{{ this._id }}'>
                                    <button class="options" name='Share'>Share</button>
                                </form></span>
                                <span><form action='/editinventory' method='POST'>
                                    <input type='hidden' name='inventoryId' id="inventoryId" value='{{ this._id }}'>
                                    <button class="options" name='Edit'>Edit</button>
                                </form></span>
                                <span><form action='/deleteinventory' method='POST'>
                                    <input type='hidden' name='inventoryId' id="inventoryId" value='{{ this._id }}'>
                                    <button class="options" name='Delete'>Delete</button>
                                </form></span>
                            </td>
                        </tr>
                    </table>
                </div>
            {{/each}} 
        {{else}}
            <div id="message"><p>No inventories yet</p></div>
        {{/if}}
    </div>
</div>