<br>
<div class="body">
    <form id="form" action="/myinventory" method="POST">
        <table>
            <tr>
                <th colspan="2" style="border-bottom: 2px solid #aaa"><h2><strong>Add Inventory</strong></h2></th>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name"></td>
            <tr>
                <td><label for="category">Category</label></td>
                <td>
                    <select name="category" id="category">
                        <option value="animal">Animals/ Pets</option>
                        <option value="clothing">Clothing/ Accessories</option>
                        <option value="food">Food</option>
                        <option value="hardware">Hardware</option>
                        <option value="medicine">Medicine/ Health</option>
                        <option value="nature">Nature</option>
                        <option value="recreational">Recreational/ Hobbies</option>
                        <option value="school">School</option>
                        <option value="technology">Technology</option>
                        <option value="transportation">Transportation</option>
                        <option value="others" selected="selected">Others</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><textarea type="text" name="description" id="description" rows="3"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">{{> messages}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button name = "submit" id = "submit" value = "Add">Add</button>
                </td>
            </tr>
        </table>
    </form>
    <div><br></div>
    <div id="grid_container">
        {{#if inventories}}
            {{#each inventories}}
                <div class = "inventory">
                    <table>
                        <tr>
                            <th colspan = "2">
                                <form action = "/itemlist" method='POST'>
                                    <input type='hidden' name='inventoryId' id="inventoryId" value='{{ this._id }}'>
                                    <input type="image" src="img/default.jpg" class="inventory_image" alt="Submit" >
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <td class="inventory_name">{{ this.name }}</td>  
                        </tr>
                        <tr>
                            <td>
                                <span><form action='/deleteinventory' method='POST'>
                                    <input type='hidden' name='inventoryId' id="inventoryId" value='{{ this._id }}'>
                                    <input type="image" src="img/delete.png" class="options" alt="Submit" >
                                </form></span>
                                <span><form action='/share' method='POST'>
                                    <input type='hidden' name='inventoryId' id="inventoryId" value='{{ this._id }}'>
                                    <input type="image" src="img/share.png" class="options" alt="Submit" >
                                </form></span>
                                <span><form action='/editinventory' method='POST'>
                                    <input type='hidden' name='inventoryId' id="inventoryId" value='{{ this._id }}'>
                                    <input type="image" src="img/edit.png" class="options" alt="Submit" >
                                </form></span>
                            </td>
                        </tr>
                    </table>
                </div>
            {{/each}} 
        {{else}}
            <div id="message"><p>No inventories yet</p></div>
        {{/if}}
    </div>
    <div><br><br><br></div>
</div>