<div class = "body">
    <div>
        <h2>{{ name }}</h2>
        <h4>{{ description }}</h4>
        <br>
    </div>

    <div id="controls">
        <div>
            <h2 id="header">List of Items</h2>
        </div>
    </div>

    <div id="container">
        <div id="list">
            {{#if items}}
                {{#each items}}
                    <div class = "itemList">
                        <span class = 'namecol'>{{ this.name }}</span>
                        <span class = 'itemcol'>{{ this.description }}</span>
                        <span class = 'quantitycol'>{{ this.quantity }}</span>
                    </div>
                {{/each}}
            {{else}}
                <div id="message"><p>No items yet</p></div>
            {{/if}}
        </div>
    </div>
    <div><br><br><br></div>
</div>
