<div class = "body">
    <div>
        <h3>{{ name }}</h3>
        <p>{{ description }}</p>
        <br>
    </div>
    <form id="form" action="/addItem" method="POST">
        <table>
            <tr>
                <td colspan="4" style="border-bottom: 2px solid #aaa"><strong>Add Item</strong>
                </td>
            </tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name"></td>

                <td><label for="file">Image</label></td>
                <td><input type="file" name="file" id="file" accept="image/*">
                </td>
            </tr>
            <tr>
                <td><label for="item">Description</label></td>
                <td><input type="text" name="item" id="item"></td>

                <td><label for="quantity">Quantity</label></td>
                <td><input type="number" name="quantity" id="quantity"></td>
            </tr>
            <tr>
                <td colspan="4">{{> messages}}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button name = "submit" id = "submit" value = "Add">Add</button>
                </td>
            </tr>
        </table>
    </form>

    <div id="controls">
        <div>
            <h2 id="header">List of Items</h2>
            <p>Total No. of Items: <span id="total">{{ total }}</span></p>
        </div>
    </div>

    <div id="container">
        <div id="list">
            {{#if items}}
                {{#each items}}
                    <div class = "itemList">
                        <span class = 'imagecol'><image src='img/default.jpg'></span>
                        <span class = 'namecol'>{{ this.name }}</span>
                        <span class = 'itemcol'>{{ this.description }}</span>
                        <span><button class="options">-</button></span>
                        <span class = 'quantitycol'>{{ this.quantity }}</span>
                        <span><button class="options">+</button></span>
                        <table>
                            <tr>
                                <td><span><button class="options">Edit</button></span></td>
                            </tr>
                            <tr>
                                <td><span><button class="options">Delete</button></span></td>
                            </tr>
                        </table>
                    </div>
                {{/each}}
            {{else}}
                <p>No items yet</p>
            {{/if}}
        </div>
    </div>
</div>
